{{ partial "header.html" . }}

<div id="layout" class="pure-g">
    {{ partial "sidebar.html" . }}

    <div class="content pure-u-1 pure-u-md-3-4">
      <div>
        <div class="posts">
          <div class="post-description">
            <h2 class="post-title"><i class="fa fa-pencil-square-o"></i> Posts in {{ .Title }}</h2>
            <ul class="main-list fa-ul">
              {{ range .Data.Pages }}
              <li><a href="{{ .Permalink }}"><i class="fa-li fa fa-pencil"></i>{{ .Title }} {{ if .GetParam "draft"}}DRAFT{{end}}</a> {{ .Date.Format "2006-01-02"}}</li>
              {{ end }}
            </ul>
          </div>
          {{ partial "adsense.html" . }}
        </div>
        {{ partial "footer.html" . }}
      </div>
    </div>
</div>
{{ partial "analytics.html" . }}
</body>
</html>
